<html>
<h2>Friend</h2>

<table>
  <caption><b>My Friends List</b></caption>
  <thead>
    <th>First-name</th>
    <th>Last-name</th>
    <th>Nick-name</th>
    <th>Github Pages</th>
  </thead>
  <tbody>
    <tr>
      <td>{{friend1.firstname}} </td>
      <td>{{friend1.lastname}}</td>
      <td>{{friend1.nickname}}</td>
      <td>
        <nav>
          <a href="https://camt-mmit.github.io/2021_02-954447-001-lab02-javascript-and-dom-keemdedone/dom-simple06.html"
            target="blank">Lab02</a>
          <a href="https://camt-mmit.github.io/2021_02-954447-001-lab03-typescript-keemdedone/dom-simple06.html"
            target="blank">Lab03</a>
          <a href="https://camt-mmit.github.io/2021_02-954447-001-lab-angular-01-keemdedone/"
            target="blank">Lab04</a>
        </nav>
      </td>
    </tr>
    <tr>
      <td>{{friend2.firstname}}</td>
      <td>{{friend2.lastname}}</td>
      <td>{{friend2.nickname}}</td>
      <td>
        <nav>
          <a href="https://camt-mmit.github.io/2021_02-954447-001-lab02-javascript-and-dom-Noppakhun230/dom-assignment.html"
            target="blank">Lab02</a>
          <a href="https://camt-mmit.github.io/2021_02-954447-001-lab03-typescript-Noppakhun230/dom-assignment.html"
            target="blank">Lab03</a>
          <a href="https://camt-mmit.github.io/2021_02-954447-001-lab-angular-01-Noppakhun230/"
            target="blank">Lab04</a>
        </nav>
      </td>
    </tr>
  </tbody>
</table>
</html>
