table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
}
table{
  width: 60%;
}
caption{
  margin-bottom: 0.5em;
}

a {
  color: rgb(23, 97, 81);
  background-color: rgb(255, 255, 255);
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  border: 2px solid rgb(44, 199, 199);
}

nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  grid-column-gap: 4px;
  column-gap: 4px;
 justify-content: center;
}

html{
  margin-top: 2em;
  padding-left: 30em;
}
