<h2>Friend</h2>

<h3>My Friends List</h3>
<table>
  <thead>
    <th>First-name</th>
    <th>Last-name</th>
    <th>Nick-name</th>
    <th>Github Pages</th>
  </thead>
  <tbody>
    <tr>
      <td>Komchan </td>
      <td>Thongsen</td>
      <td>Keem</td>
      <td>
        <nav>
          <ul>
            <li>
              <a href="https://camt-mmit.github.io/2021_02-954447-001-lab02-javascript-and-dom-keemdedone/dom-simple06.html"
                target="blank">Lab02</a>
            </li>
            <li>
              <a href="https://camt-mmit.github.io/2021_02-954447-001-lab03-typescript-keemdedone/dom-simple06.html"
                target="blank">Lab03</a>
            </li>
            <li>
              <a href="https://camt-mmit.github.io/2021_02-954447-001-lab-angular-01-keemdedone/"
                target="blank">Lab04</a>
            </li>
          </ul>
        </nav>
      </td>
    </tr>
    <tr>
      <td>Sukrit</td>
      <td>Noppakhun</td>
      <td>Eng</td>
      <td>
        <nav>
          <ul>
            <li>
              <a href="https://camt-mmit.github.io/2021_02-954447-001-lab02-javascript-and-dom-Noppakhun230/dom-assignment.html"
                target="blank">Lab02</a>
            </li>
            <li>
              <a href="#"
                 target="blank">Lab03</a>
            </li>
            <li>
              <a href="https://camt-mmit.github.io/2021_02-954447-001-lab-angular-01-Noppakhun230/"
                 target="blank">Lab04</a>
            </li>
          </ul>
        </nav>
      </td>
    </tr>
  </tbody>
</table>
