<div>
<h2>Status</h2>
    <ul>
      <li><b>Current time</b><span>{{date}}</span></li>
      <li><b>Vendor</b><span>{{navigator.vendor}}</span></li>
      <li><b>User Agent</b><span>{{navigator.userAgent}}</span></li>
      <li><b>Languages</b><span>{{navigator.languages}}</span></li>
      <li><b>is Cookie Enable?</b><span>{{navigator.cookieEnabled}}</span></li>
      <li><b>Logical Processors</b><span>{{navigator.hardwareConcurrency}}</span></li>
      <li><b>Max Touch Points</b><span>{{navigator.maxTouchPoints}}</span></li>
    </ul>
</div>
