้<h2>Status</h2>
<ul>
  <li>
    <b>Current time</b> ::
  </li>
  <li>
    <b>Vendor</b>::
  </li>
  <li>
    <b>User Agent</b> ::
  </li>
  <li>
    <b>Languages</b> ::
  </li>
  <li>
    <b>is Cookie Enable?</b> ::
  </li>
  <li>
    <b>Logical Processors</b> ::
  </li>
  <li>
    <b>Max Touch Points</b> ::
  </li>
</ul>
<!-- <script src="runtime.b4338abc206ccba3.js" type="module"></script>
<script src="polyfills.717e271e1527734c.js" type="module"></script>
<script src="main.f3561ff29fee66c0.js" type="module"></script> -->
