<h2>My Profile</h2>

<h3>Basic Information</h3>
<ul>
  <li><b>Name</b>: Thanaporn Sae-pueng</li>
  <li><b>Gender</b>: Female</li>
  <li><b>Age</b>: 20</li>
</ul>

<h3>Autobiography</h3>
  <pre>
    I was born on January,15 2001 in Bangkok,Thailand.I still live in Lamphun,Thailand,and I go to university at Chiang Mai uiversity.
    I live with my mom and grandmother, Benz;my brother.Before I came to Lamphun, I lived in Bangkok.Which when I was in Bangkok,
    I studied at Tharnpanya School.Until the economy deteriorates Causing my family to have financial problems and having to move
    to live in Lamphun, and I go to school at Suanboonyopatham Lamphun School.
  </pre>
<h3>Github page</h3>
<nav>
  <a href="https://camt-mmit.github.io/2021_02-954447-001-lab02-javascript-and-dom-Thanaporn1501/lab.html" class="pro-active">Lab02</a>
  <a href="https://camt-mmit.github.io/2021_02-954447-001-lab03-typescript-Thanaporn1501/lab.html" class="pro-active">Lab03</a>
  <a href="https://camt-mmit.github.io/2021_02-954447-001-lab-angular-01-Thanaporn1501/" class="pro-active">Lab04</a>
</nav>
