<html>
<h2>My Profile</h2>

<h3>Basic Information</h3>
<ul>
  <li><b>Name</b>: {{profile.name}}</li>
  <li><b>Gender</b>: {{profile.gender}}</li>
  <li><b>Age</b>: {{profile.age}}</li>
</ul>

<h3>Autobiography</h3>
  <div class="bio">
    <p>
      I was born on January,15 2001 in Bangkok,Thailand.I still live in Lamphun,Thailand,
      and I go to university at Chiang Mai uiversity. I live with my mom and grandmother,
      Benz is my brother. Before I came to Lamphun, I lived in Bangkok.Which when I was in Bangkok,
      I studied at Tharnpanya School.Until the economy deteriorates Causing my family to have financial problems
      and having to move to live in Lamphun, and I go to school at Suanboonyopatham Lamphun School.
    </p>
  </div>
<h3>Github pages</h3>
<nav>
  <ul>
      <li>
        <a href="https://camt-mmit.github.io/2021_02-954447-001-lab02-javascript-and-dom-Thanaporn1501/lab.html"
          class="pro-active" target="blank">Lab02</a>
      </li>
      <li>
        <a href="https://camt-mmit.github.io/2021_02-954447-001-lab03-typescript-Thanaporn1501/lab.html"
          class="pro-active" target="blank">Lab03</a>
      </li>
      <li>
        <a href="https://camt-mmit.github.io/2021_02-954447-001-lab-angular-01-Thanaporn1501/"
          class="pro-active" target="blank">Lab04</a>
      </li>
  </ul>
</nav>
</html>
